<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Product Detail</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="detail">
    <header class="home__header">
        <div class="home__header__logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <button class="home__header__burger"><i class="fa fa-bars"></i> Menu </button>
        <nav class="home__header__nav">
            <ul class="home__header__nav--menu">
                <li><a href="">Computadoras</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Celulares</a></li>
            </ul>
            <ul class="home__header__nav--user">
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="detail__main">
        <section class="detail__main__section general__main__section">
            <article class="detail__main__section__article">
                <img src="/images/img-phone-01.jpg" alt="">
                <div class="detail__main__section--images">
                    <img src="/images/img-phone-01.jpg" alt="">
                    <img src="/images/img-phone-02.jpg" alt="">
                    <img src="/images/img-phone-03.jpg" alt="">
                </div>
            </article>
            <div class="detail__main__section--content">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium
                    maiores doloribus aliquid possimus quae debitis?</p>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
        </section>
    </main>
</body>

</html>